/* Bakgrunds bild */
body{
    background-image:url("https://c4.wallpaperflare.com/wallpaper/546/1014/536/50-039-s-car-classic-restaurant-wallpaper-preview.jpg");
    /* Gör så den inte repeterar sig */
        background-repeat: no-repeat;
    /* Gör så att det expanderar sig över hela sidan */
    background-size: 100vw 100vh;
}

/* Cellernas höjd inom tabellerna */
th
{
    height: 50px;
}
/* Navigation */
.nav {
  background-color: #333;
  overflow: hidden;
}

/* Cssen för navigationen */
.nav a {
    /* färgen */
  color: #b30000;
    /* den blev smal om den här inte var med */
    float: left;
    /* centrerar texten */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    /* text storlek */
  font-size: 17px;
}

/* cssen för när man har musen på navigationen */
.nav a:hover {
    /* ändrar färg på bakgrunden */
  background-color: #e6b800;
    /* ändrar färg på texten */
  color: black;
}

.nav a.active {
  background-color: #b30000;
  color: Black;
}
/* Klasser som berör alla html sidor */
.grid{
    /* Delar upp html sidan */
    display:grid;
    /* Delas upp i 2 delar där den ena sidan är 67% och den andra 33% */
    grid-template-columns: 2fr 1fr;
}


.TextSection{
    
    left:40px;
      position: absolute;   
    
}

/* Ändrar stilen på texten */
.equality
{
    letter-spacing: 2px;
    line-height: 1;
    font-family: "Times New Roman", Times, serif;
   }

/* logon placering */
.img
{
    display:block;
    /* Den är till vänster */
    margin-left: auto; 
}

/* Css för Huvudmenyn*/
/* Stilen för en textruta */
.BorderHMMain{
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px 20px;
    background-color:rgba(255,255,255,0.6);
    Margin-right: 50%;
    Margin-left: 10%;
    Height: 50%;
}
/* Stilen för en textruta */
.BorderHMBeta{
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px 20px;
    background-color:rgba(255,255,255,0.6);
    Margin-right: 60%;
    Margin-left: 10%;
    Height: 30%;
}

/* Centrerar */
.Center{
    text-align: center
}

/* Css för Menyn */

/* Css för tabellen */
.mattabell {
	/* Mellanrum ovanför tabellen */
	margin-top: 50px;
	/* Mellanrum till vänster */
	margin-left: 100px;
	/* Ramen */
	border: 2px solid black;
	/* Bredden */
	width:350px;
	/* Sätter ihop ramarna */
	border-collapse:collapse;
}
/* Css för första kolumnen */
.mattabell td:nth-child(odd) {
	/* Höjd */
	height: 40px;
	/* Vänsterjusterad text */
	text-align:left;
	/* Mellanrum mellan texten och kanten */
	padding-left:10px;
}
/* Css för andra kolumnen */
.mattabell td:nth-child(even) {
	/* Höjd */
	height: 40px;
	/* Högerjusterad text */
	text-align:right;
	/* Mellanrum mellan texten och kanten */
	padding-right:10px;
}
/* Css för rubriken */
.mattabell caption {
	/* Svart färg */
	color:black;
	/* Mellanrum mellan rubriken och tabellen */
	margin-bottom: 20px;
	/* Textstorlek */
	font-size: 35px;
}
/* Css för jämna rader */
.mattabell tr:nth-child(even) {
	/* Grå bakgrund */
	background-color: rgba(200,200,200,0.8);
}
/* Css för udda rader */
.mattabell tr:nth-child(odd) {
	/* Vit bakgrund */
	background-color: rgba(255,255,255,0.8); 
}

/* Css för öppentider */
/* Cssen för tabellen på öppentider */
.table2
{
    /* skapar en 1px ram */
    border: 1px solid black;
    /* Centrerar texten */
    text-align: Center;
    /* ändrar tabellens bredd */
    width:40%;
    /* färgen på tabellen */
    background-color:rgba(255,255,255,0.6);
    /* ändrar raidien på ramen */
    border-radius: 50px;
    /* ändrar tabellens position */
    margin-left: 10%;
}
/* Cssen för Titeln på Öppentider*/
.Titel
{
    /* Centrerar texten */
    text-align: Center;
    /* Storlek på texten */
    font-size: 50px;
    /* text färg */
    Color: Black;
}






