/* Bakgrunds bild */
body{
    background-image:url("https://miro.medium.com/max/2280/1*qmcAi5q4h6DPH7JegpzMXw.gif")
}

/* Cellernas höjd inom tabellerna */
th
{
    height: 50px;
}
/* Navigation */
.nav {
  background-color: #333;
  overflow: hidden;
}

/* Cssen för navigationen */
.nav a {
    /* färgen */
  color: #b30000;
    /* den blev smal om den här inte var med */
    float: left;
    /* centrerar texten */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    /* text storlek */
  font-size: 17px;
}

/* cssen för när man har musen på navigationen */
.nav a:hover {
    /* ändrar färg på bakgrunden */
  background-color: #e6b800;
    /* ändrar färg på texten */
  color: black;
}

.nav a.active {
  background-color: #b30000;
  color: Black;
}
/* Klasser som berör alla html sidor */
.grid{
    /* Delar upp html sidan */
    display:grid;
    /* Delas upp i 2 delar där den ena sidan är 67% och den andra 33% */
    grid-template-columns: 2fr 1fr;
}


.TextSection{
    
    left:40px;
      position: absolute;   
    
}

.equality
{
    letter-spacing: 2px;
    line-height: 1;
    font-family: "Times New Roman", Times, serif;
   }

/* logon placering */
.img
{
    display:block;
    /* Den är till vänster */
    margin-left: auto; 
}

/* Css för Huvudmenyn*/
.BorderHMMain{
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px 20px;
    background-color:rgba(255,255,255,0.6);
    Margin-right: 50%;
    Margin-left: 10%;
    Height: 50%;
}

.BorderHMBeta{
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px 20px;
    background-color:rgba(255,255,255,0.6);
    Margin-right: 60%;
    Margin-left: 10%;
    Height: 30%;
}

/* Css för Menyn */
.mattabell {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 2px solid black;
	width:350px;
	border-collapse:collapse;
}

.mattabell td:nth-child(odd) {
	height: 40px;
	text-align:left;
	padding-left:10px;
}

.mattabell td:nth-child(even) {
	height: 40px;
	text-align:right;
	padding-right:10px;
}

.mattabell caption {
	color:black;
	margin-bottom: 20px;
	font-size: 35px;
}
.mattabell tr:nth-child(even) {
	background-color: rgba(200,200,200,0.8);
}

.mattabell tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.8); 
}

/* Css för öppentider */
/* Cssen för tabellen på öppentider */
.table2
{
    /* skapar en 1px ram */
    border: 1px solid black;
    /* Centrerar texten */
    text-align: Center;
    /* ändrar tabellens bredd */
    width:40%;
    /* färgen på tabellen */
    background-color:rgba(255,255,255,0.6);
    /* ändrar raidien på ramen */
    border-radius: 50px;
    /* ändrar tabellens position */
    margin-left: 10%;
}
/* Cssen för Titeln på Öppentider*/
.Titel
{
    /* Centrerar texten */
    text-align: Center;
    /* Storlek på texten */
    font-size: 50px;
    /* text färg */
    Color: Black;
}






